@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=DM+Serif+Display&display=swap');

.Home {
    
    background-color: #EFEFEF;
    .hero-section  {
        background:  url("../../Assets/Images/hero-bg-shapes.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 8rem 0rem 8rem 0rem;
        color: white;
        .hero-extension{
            position: relative;
            overflow: hidden;
            top: 8.35rem;
            img{
                width: 100%;
                min-width: 700px;
            };
        }
        .container{
            .hero-title{
                max-width: 100%;
                width: 700px;
            }
            h1{
                font-family: 'Times New Roman', Times, serif;
                font-size: 70px;
                color: rgb(193, 193, 193);
                @media screen and(max-width: 500px){
                    font-size: 50px;
                }
                &::before{
                    content: open-quote;
                }
                &::after{
                    content: close-quote;
                }
            }
            a{
                text-decoration: none;
                color: #014D96;
                font-size: xx-large;
                font-weight: bold;
                background-color: white;
                display: block;
                border-radius: 6px;
                width: fit-content;
                padding: 1rem;
                margin: 1rem auto;
                box-shadow: 0px 8px 0px #014D96;
                &:hover{
                    opacity: 70%;
                }
            }
        }
    }
    .creator-section{
        padding: 8rem 0rem;
        .container{
            h1{
                font-weight: normal;
                span{
                    font-weight: bold;
                }
            }
            .socials{
                i{
                    font-size: xx-large;
                    margin: .5rem;
                }
                .facebook{
                    color: #4267B2;
                }
                .google{
                    color: #DB4437;
                }
                .linkedin{
                    color: #0A66C2;
                }
            }
        }

    }
    .footer-section{
        background-image: url("../../Assets/Images/footer-bg.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0px 0px 8rem 0px;
        div{
            overflow: hidden;
            position: relative;
            top: -.2rem;
            img{
                width: 100%;
                min-width: 700px;
            };
        }
    }
    
}