@use "./Theme.scss";

@mixin shadow-normal {
    box-shadow: 0px 4px 4px #c3c3c3;
}

.space-after{
    margin-right: .5rem;
}
.container{
    max-width: 1300px;
    margin: 0rem auto;
    padding: 0rem 0.5rem;
}

.form-container {
    @include shadow-normal;
    background-color: Theme.$light;
    width: fit-content;
    text-align: left;
    margin: 0rem auto;
    padding: 2rem ;
    border-radius: 6px;
    
}







