$light: #FFFFFF;
$light-darker: #e0e0e0;
$light-shade: #EFEFEF;

$primary: #097FC1;
$primary-lighter: #3eb4f8;
$primary-darker: #0E415E;

$danger: #da4d4d;
$danger-lighter: #e57171;
$danger-darker: #831313;