@use './Utilities/Styles/Theme.scss';

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  background-color: Theme.$light-shade;
  min-height: 100vh;
}

a{
  text-decoration: none;
}


