
.Nav {
    background-color: #000000;
    color: #fff;
    padding: .5rem 0rem;
    .container{
        display: flex;
        align-items: center;
        
        .logo-con {
            flex: 1;
            display: flex;
            justify-content: start;
        }
        ul{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            li{
                background-color: #fff;
                color: #000000;
                list-style: none;
                padding: .5rem  1rem;
                &:last-child{
                    border-radius: 0px 5px 5px 0px;
                    background-color: black;
                    color: white;
                    border: 1px solid white;
                }
                &:first-child{
                    border-radius:  5px 0px 0px 5px ;
                }
                &:first-child, &:nth-child(2){
                    border-right:  1px solid black ;
                }
                &:hover{
                    transition: .4s;
                    opacity: 50%;
                    cursor: pointer;
                }
            }
        }
    }
}